/*MEDIA-QUERIES */
@media screen and (max-width: 1155px)
{

    h3 
    {
        font-size: 75%;
    }
    .logo
    {
        margin: 0%;
    }
    .HebActMenu
    {
        flex-wrap: nowrap;
        width: 40%;
    }
    .sinscrire_menu
    {
        margin-left: auto;
    }
    .titre_soustitres
    {
        font-size: 100%;
    }
    .filtres
    {
        width: 100%;
    }
    .titre_hebergement, .titre_populaires
    {
        font-size: 80%;
    }
    .description, .description2
    {
        font-size: 80%;
    }

}
@media screen and (max-width: 865px)
{
    header
    {
        flex-wrap: wrap;
    }
    .menu_principal
    {
        flex-wrap: wrap;
    }
    .HebActMenu
    {
        flex-wrap: wrap;
    }
    .section_filtres
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtres
    {
        justify-content: flex-start;
    }
    .bulle_filtres
    {
        margin-right: 5%;
        margin-top: 2%;
    }
    .section_hebergements
    {
        flex-direction: column-reverse;
    }
    .populaires 
    {
        width: auto;
        margin-bottom: 5%;
    }
    .titre_populaires
    {
        margin: auto;
    }
    .conteneur_populaires
    {
        flex-wrap: nowrap;
    }
    .description_populaire
    {
        font-size: 80%;
    }
    .element_populaires
    {
       margin: 2%;
    }
    .hebergements 
    {
        margin: 0%;
    }
    h4 
    {
        font-size: small;
    }
    footer 
    {
        justify-content: space-between;
    }
   .apropos, .logement, .help
    {
        display: flex;
        flex-wrap: wrap;
        font-size: small;
    }
}
@media screen and (max-width: 612px)
{
   
    .sinscrire_menu
    {
        padding: 0%;
    }
    .HebActMenu
    {
        display: flex;
        position: absolute;
        margin-top: 15%;
        font-size: 100%;
        width: 100%;
        justify-content: space-around;
        border-bottom: 2px solid #f2f2f2;
    }
    .HebActMenu:hover
    {
        border-top: none;   
    }
    .hebergements_menu:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .activites_menu:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .soustitres
    {
        margin-top: 20%;
    }
    .boutonrechercher
    {
        display: none;
    }
    .loupe
    {
    display: block;
    height: 100%;
    }
    .zonederecherche
    {
        width: 100%;
        font-size: small;
        border-radius: 0%;
    }
    .populaires 
    {
        border-radius: 0%;
    }
    .conteneur_populaires
    {
        flex-direction: column;
    }
    .element_populaires
    {
        width: 100%;
        margin: 0%;
        margin-bottom: 5%;
    }
    .description_populaire
    {
        flex-direction: column;
    }
    .description2
    {
        margin-top: auto;
    }
    .conteneur_hebergements
    {
        flex-direction: column;
    }
    .titre_hebergement, .soustitres_hebergement
    {
        margin: 0%;
    }
    .hebergements
    {
        background-color: transparent;
        flex-direction: column;
    }
    .element_hebergements
    {
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .conteneur_sectiondeux
    {
        margin-bottom: auto;
    }
    #activites
    {
         height: 100%;
    }
    .elements_activites
    {
        flex-direction: column;
        height: 100%;
    }
    .vp, .pndc
    {
        width: auto;
        height: 190px;
    }
    .imgvp, .imgpndc
    {
        height: 130px;
    }
    .conteneur_fdpidf, .conteneur_nddlgpl
    {
        flex-wrap: nowrap;
        width: auto;
        margin: 0%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .fdp, .idf, .nddlg, .pl 
    {
        height: 190px;
    }
    .imgfdp, .imgidf, .imgnddlg, .imgpl
    {
        height: 130px;
    }
    footer 
    {
        flex-direction: column;
    }
}