/*MEDIA-QUERIES */
@media screen and (max-width: 1400px)
{
    h3 
    {
        font-size: 90%;
    }
    h4 
    {
        font-size: medium;
    }
    header
    {
        height: auto;
    }
    .titre_soustitres
    {
        height: auto;
        font-size: large;
    }
    .element_populaires img 
    {
        width: 35%;
    }
    .description2
    {
        width: auto;
    }
}

@media screen and (max-width: 1220px)
{
    body 
    {
        height: auto;
    }
    #bloc_page
    {
        height: auto;
    }
    header
    {
        height: auto;
    }
    .logo
    {
        margin-right: auto;
    }
    .titre_soustitres
    {
        font-size: 100%;
        height: auto;
    }
    h3 
    {
        font-size: 75%;
    }
    h4 
    {
        font-size: 97%;
    }
    .description
    {
        font-size: 80%;
    }
    .description2
    {
        font-size: 80%;
        margin-top: 15%;
    }
    .etoile2
    {
        margin-top: 15%;
    }
    .soustitres_hebergement
    {
        font-size: 125%;
    }
    .apropos, .logement, .help
    {
        justify-content: center;
    }
    .apropos_titre, .logement_titre, .help_titre
    {
        margin-left: 1%;
        font-size: 100%;
    }

}

@media screen and (max-width: 1020px)
{
    .logo
    {
        margin-right: auto;
    }
    .titre_soustitres
    {
        font-size: 110%;
    }
    .filtres
    {
        width: 100%;
    }
    .section_hebergements
    {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: space-between;
    }
    .section_populaires
    {
        margin-bottom: 5%;
        padding: 0%;
    }
    .conteneur_populaires
    {
        padding-top: 0%;
        justify-content: center;
    }
    .titre_populaires
    {
        margin-top: auto;
        margin-right: 2%;
        margin-left: 2%;
        width: auto;
    }
    .element_populaires
    {
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 1%;
        width: auto;
    }
    h3 
    {
        font-size: 100%;
    }
    .description2
    {
        font-size: 95%;
        margin-top: 10%;
    }
    .etoile2
    {
        margin-top: 10%;
    }
    .hebergements 
    {
        width: auto;
        padding: 0%;
    }
    .titre_hebergement 
    {
        margin: auto;
        margin-left: 3%;
    }
    .conteneur_hebergements
    {
        padding: 0%;
    }
    .element_hebergements
    {
        margin-right: 0%;
    }
    .description
    {
        font-size:  100%;
        margin-top: auto;
    }
    .soustitres_hebergement
    {
        margin-left: 2%;
    }
    h4 
    {
        font-size: 80%;
    }
    .apropos_titre, .logement_titre, .help_titre
    {
        margin-left: 3%;
    }
}

@media screen and (max-width: 860px)
{
    .logo
    {
        width: auto;
    }
   .sinscrire_menu
    {
       position: relative;
    }
    .HebActMenu
    {
        width: 50%;
    }
    .section_filtres
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .titre_filtres
    {
        margin: 1%;
    }
    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .bulle_filtres
    {
        margin-bottom: 2%;
        margin-left: 2%;
        font-size: 125%;
    }
    .description2
    {
        margin-top: 10%;
    }
    footer 
    {
        height: auto; 
    }
    .apropos, .logement, .help
    {
       display: flex;
       flex-wrap: wrap;
       width: auto;
       justify-content: flex-start;
       margin-left: 2%;
    }
    .apropos_titre, .logement_titre, .help_titre
    {
        margin-left: 0%;
        padding: 0%;
    }
    ul 
    {
        padding: 0%;
    }
}

@media screen and (max-width: 782px)
{
    /*hebergements  et filtres a rendre en ligne */
    body 
    {
        height: 100%;
        position: relative;
    }
    #bloc_page
    {
        position: relative;
        height: auto;
    }
    .soustitres
    {
        height: fit-content;

    }
    .conteneur_populaires
    {
        display: flex;
        flex-direction: column;
    }
    .description2
    {
        margin-top: 10%;
    }
    .etoile2
    {
        margin-top: 10%;
    }
    .hebergements 
    {
        background-color: transparent;
    }
    .titre_hebergement 
    {
        margin-left: 0%;
    }
    .conteneur_hebergements
    {
        flex-direction: column;
        padding: 1%;
    }
    .element_hebergements
    {
        width: 100%;
        flex-direction: column;
    }
    
    h1 
    {
        font-size: x-large;
    }
    h4 
    {
        font-size: large;
        margin: 2%;
    }
    .conteneur_sectiondeux
    {
        height: auto;
    }
    #activites
    {
        width: 100%;
    }
    .elements_activites
    {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .conteneur_fdpidf, .conteneur_nddlgpl
    {
        width: 100%;
        margin-left: 0%;
    }
    .vp, .pndc
    {
        width: 100%;
        height: 8%;
        margin-top: 5%;
    }

    .nddlg, .pl
    {
        margin-top: 5%;
    }
    .fdp, .idf
    {
        width: 100%;
        height: 20%;
        margin-top: 5%;
    }
    footer
    { 
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: auto;
    }
    .apropos_titre, .logement_titre, .help_titre
    {
        font-size: x-large;
        margin-bottom: 0%;
    }

}
@media screen and (max-width: 503px)
{
    #bloc_page
    {
        height: auto;
    }
    body 
    {
        height: auto;
    }
    header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
    .logo
    {
        display: flex;
        margin: 0%;
    }
    .menu_principal
    {
        display: flex;
    }
    .sinscrire_menu
    {
        padding: 0%;
        margin-left: auto;
    }
    .HebActMenu
    {
        display: flex;
        position: absolute;
        margin-top: 40%;
        font-size: 100%;
        width: 100%;
        justify-content: space-around;
    }
    .hebergements_menu, .activites_menu
    {
        height: auto;
        padding: 0%;
    }
    .activites_menu:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;   
    }
    .hebergements_menu:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;   
    }
    .soustitres
    {
        margin-top: 20%;
    }
    form
    {
        width: auto;
    }
    .buttonrechercher
    {
        display: none;
    }
    .loupe
    {
    display: block;
    height: 100%;
    }
    .section_populaires
    {
        border-radius: 0%;
    }
    h3 
    {
        font-size: small;
    }
    .element_populaires img 
    {
        width: 35%;
    }
    .description2
    {
        font-size: small;
        margin-top: 10%;
    }
    .element_hebergements
    {
        flex-direction: column;
    }
    .description
    {
        font-size: small;
    }
    .soustitres_hebergement
    {
        font-size: medium;
    }
    .conteneur_sectiondeux
    {
        height: auto;
    }
    .pndc
    {
        margin-top: 11%;
    }
    .nddlg
    {
        margin-bottom: 0%;
    }
    footer 
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        height: auto;
    }

}
@media screen and (max-width: 369px)
{
    form 
    {
        width: auto;
    }
    .zonederecherche
    {
        width: 100%;
        font-size: small;
    }

    .filtres
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .textefiltres
    {
        font-size: small;
    }
    .resultatssearch
    {
        font-size: smaller;
    }
    h1
    {
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: medium;
    }
    h3 
    {
        font-size: small;
    }
    .titre_populaires
    {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .description2
    {
        font-size: small;
        margin-top: 20%;
    }
    .pndc
    {
        margin-top: 13%;
    }
    .nddlg
    {
        margin-bottom: 0%;
    }
    .apropos, .logement, .help
    {
        font-size: small;
    }
    footer 
    {
         
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        height: auto;
    }
}
@media screen and (max-width: 311px)
{
    h2 
    {
        font-size: large;
    }
}

@media screen and (max-width: 248px)
{
    .zonederecherche
    {
        font-size: 65%;
    }
    .description2
    {
       margin-top: 30%;
    }
    .apropos_titre, .logement_titre, .help_titre
    {
        font-size: medium;
    }
    h2 
    {
        font-size: medium;
    }
}
@media screen and (max-width: 222px)
{
    .menu_principal
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sinscrire_menu
    {
        margin: 0%;
        width: auto;
    }
    .HebActMenu
    {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 45%;
    }
    .hebergements_menu, .activites_menu
    {
        justify-content: flex-start;
        margin-bottom: 5%;
    }
    .soustitres
    {
        font-size: small;
        margin-top: 40%;
    }
   .zonederecherche
    {
        font-size: 40%;
    }
    .section_filtres
    {
        font-size: 80%;
    }
    .section_populaires
    {
        width: auto;
    }
    .element_populaires
    {
        flex-direction: column;
    }
    .element_populaires img 
    {
        border-radius: 1.25rem 1.25rem 0 0;
        height: 35%;
        width: auto;
    }
    .description
    {
        font-size: 70%;
    }
    .etoile 
    {
        width: 100%;
    }
    h3 
    {
        font-size: 50%;
    }

    .description2
    {
        font-size: 70%;
        margin-top: 15%;
    }
    .etoile2
    {
        margin-top: 0%;
    }

    h2
    {
        font-size: small;
    }
    h4 
    {
        font-size: small;
    }
    .apropos, .logement, .help
    {
        font-size: small;
    }
}



