/*POLICES*/
@font-face
{
    font-family: 'Raleway-Regular';
    src:url(fonts/Raleway-Regular.ttf)
}
@font-face
{
    font-family: 'Raleway-Bold';
    src:url(fonts/Raleway-Bold.ttf)
}


/*HEADER*/
* {
    box-sizing: border-box;
}

#bloc_page
{
    width: 100%;
    margin: auto;
}
header
{
    display: flex;
    width: 100%;
    
}
.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
    margin-right: 50%;
    width: 40%;
}
#logo img
{
    width: 65px;
    height: 65px;
    align-items: center;
    margin-bottom: 5%;
}

.menu_principal
{
    display: flex;
    width: 65%;
    font-family: 'Raleway-regular', sans-serif;
}
.hebergements_menu
{
    display: flex;
    margin-right:35px;
    height: 100%;
    padding-top: 10%;
}
.activites_menu
{
    display: flex;
    margin-right: 35px;
    margin-left: 35px;
    padding-top: 10%;
}
.sinscrire_menu
{
    display: flex;
    margin-left: 35px;
    margin-right: 10px;
    padding-top: 10%;
}
a
{
    color: black;
    text-decoration: none;
}

.activites_menu:hover
{
    color: #0065fc;
    font-weight: bold;
    border-top: 2px solid #0065fc;
}
.hebergements_menu:hover
{
    color: #0065fc;
    font-weight: bold;
    border-top: 2px solid #0065fc;
}

.sinscrire
{
    color: #0065fc;
    font-weight: bold;
}
.soustitres
{
    height: 10%;
}

.titre_soustitres
{
    margin-top: 30px;
    margin-left: 1px;
    font-family: 'Raleway-Bold', sans-serif;
    font-weight: bold;
}
p
{
    margin-left: 1px;
    margin-top: 2px;
    font-family: 'Raleway-regular', sans-serif;
}

/*SEARCH*/

form
{
    display: flex;
    width: 350px; 
}
.position i
{
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    padding-top: 18px;
    padding-bottom: 22px;
}
.zonederecherche
{
    width: 240px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    color: black;
    font-family: 'Raleway-Bold',sans-serif;
}
.buttonrechercher
{
    padding: 16px;
    border: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.loupe
{
    display: none;
}

/*FILTRES*/
.section_filtres  
{
    display: flex;
    align-items: center;
    width: 100%;
}
.pfiltres
{
    font-weight: bold;
    font-family: 'Raleway-bold', sans-serif;
}
.filtres
{
    list-style-type: none;
    display: flex;
    font-size: 1em;
    text-decoration: none;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}
.bulle_filtres  /*bulle*/
{
    display: flex;
    width: fit-content;
    margin: 3rem;
    justify-content: center;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 15rem;
    height: 50px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    border-radius: 15rem;
    background-color: #deebff;
    object-fit: cover;
    color: #0065fc;
}
.textefiltres
{
    display: flex;
    font-family: 'Raleway-bold';
    margin-left: 30%;
}

.filtres :hover
{
    color: #0065fc;
    font-weight: bold;   
}


.resultats
{
    display: flex;
    align-items: center;
}
.resultats_icon
{
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex; 
    border: 1px solid grey;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.fa-info
{
    color: #0065fc;
    padding: 1%;
}
.resultatssearch
{
    font-size: 1em;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*SECTION ARTICLE/ASIDE*/
/*article*/

.section_hebergements
{
    display: flex;
    width: 100%;
    height: 40rem;
    border: solid transparent;
    margin-top: 10px;
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    border: 1px transparent;
    border-radius: 3%;
    background-color: #f2f2f2; 
}

.titre_hebergement
{
    display: flex;
    width: 100%;
    height: 9%;
    margin-top: 2%;
    margin-left: 30px;
    align-items: center;
    font-family: 'Raleway-bold', sans-serif;
}
.conteneur_hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    justify-content: space-around;
    padding-left: 2%;
}
.element_hebergements
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #a7a1a1;
    border-radius: 1.25rem;
    border: transparent;
    background-color: white;
    width: 28%;
    height: 45%;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 6px;
    cursor: pointer;
    
}
.element_hebergements img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0 ;
}
h3
{
    height: 5%;
    margin: 6px;
    margin-left: 10px;
    font-family: 'Raleway-bold', sans-serif;
}

.description
{
    margin-left: 10px;
    margin-top: 7px;
    font-family: 'Raleway-Regular', sans-serif;
}

.etoile
{
    display: flex;
    color: #0065fc;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
}
.etoilegris
{
    color: #f2f2f2;
}

.soustitres_hebergement
{
    margin-left: 20px;
    font-family: 'Raleway-bold', sans-serif;
}

/*aside*/

.section_populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: 1px transparent;
    border-radius: 3%;
    width: 25rem;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    justify-content: space-evenly;
    align-items: center;
}
.titre_populaires
{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-family: 'Raleway-bold', sans-serif;
}
.conteneur_populaires
{
    height: 83%;
    padding-top: 5%;
}
.element_populaires
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 18rem;
    height: 8rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    border-radius: 1.25rem;
    border: transparent;
    background-color: white;
    margin-bottom: 10%;
    padding: 6px;
    cursor: pointer;
}
.element_populaires img
{
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem ;
    
}
.description2
{
    margin-left: 10px;
    margin-top: 45px;
    height: 20%;
    font-family: 'Raleway-regular', sans-serif;
}

.etoile2
{
    display: flex;
    color: #0065fc;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
}

/*SECTION2*/
.conteneur_sectiondeux
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30rem;
    border: transparent;
    margin-top: 35px;
    margin-bottom: 35px;
}
.titre_activites
{
    width: 30%;
    font-weight: bold;
}
h1
{
    font-size: 1.3em;
    font-family: 'Raleway-bold', sans-serif;
}
.elements_activites
{
    display: flex;
    flex-direction: row;
    height: 65%;
    width: 100%;
}

.elements_activites img 
{
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.imgvp
{
    height: 348px;
}
.imgfdp
{
    height: 165px;
}
.imgidf
{
    height: 95px;
}
.imgpndc
{
    height: 348px;
}
.imgnddlg
{
    height: 135px;
}
.imgpl
{
    height: 132px;
}

h4
{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.2em;
    justify-content: center;
    font-family: 'Raleway-bold', sans-serif;
}

.vp
{
    display: flex;
    flex-wrap: wrap;
    height: 130%;
    width: 65%;
    border: transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    box-sizing: border-box;
    cursor: pointer;
}
.conteneur_fdpidf
{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 130%;
    width: 65%;
    border: transparent;
    box-sizing: border-box;
    margin-right: 35px;
    margin-left: 35px;
}
.fdp
{
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    width: 100%;
    height: 54%;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    box-sizing: border-box;
    cursor: pointer; 
}
.idf
{
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    width: 100%;
    height: 36%;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    box-sizing: border-box;
    margin-top: 38px;
    cursor: pointer;
}
.pndc
{
    flex-wrap: wrap;
    height: 130%;
    width: 65%;
    border: transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    cursor: pointer;
}
.conteneur_nddlgpl
{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 130%;
    width: 65%;
    border: transparent;
    margin-left: 35px;
}
.nddlg
{
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    width: 100%;
    height: 45%;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    margin-bottom: 38px;
    cursor: pointer;
}
.pl
{
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    width: 100%;
    height: 45%;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #a7a1a1;
    cursor: pointer;
}

/*FOOTER*/

footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    height: 200px;
    border: 1px transparent;
    background-color: #f2f2f2F2;
}
.apropos, .logement, .help
{
    width: 30%;
    height: 25%;
}
.apropos_titre, .logement_titre, .help_titre
{
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 70%;
    height: 11%;
    font-family: 'Raleway-bold', sans-serif;
}
.ul
{
    list-style-type: none;
    align-items: center;
    font-size: 1em;
    font-family: 'Raleway-regular', sans-serif;
}
